<div class="view active" id="navView">
    <div class="pages">
        <div class="panel active" id="navmenu">
        	<div class="jui-nav-user">
            	<img src="lib/img/icon_user_nologin.png"/>
            	<div class="jui-nav-username">Daivd</div>
            </div>
			<ul class="list">
            	<li><a style="color:#989898;">关于我们</a></li>
                <li><a style="color:#989898;">版本信息</a></li>
                <li><a style="color:#989898;">意见与建议</a></li>
            </ul>
        </div>
    </div>
</div>